VITE_FIREBASE_API_KEY="AIzaSyD-k8Xzr0UakZPcAl0-6CzUytNiScTr8Qk"
VITE_FIREBASE_AUTH_DOMAIN="reliefgrid-ad20c.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="reliefgrid-ad20c"
VITE_FIREBASE_STORAGE_BUCKET="reliefgrid-ad20c.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="30831142385"
VITE_FIREBASE_APP_ID="1:30831142385:web:83e7a64240c869b116d050"
VITE_FIREBASE_MEASUREMENT_ID="G-D5HYDWY7HN"
VITE_GEMINI_API_KEY="AIzaSyCwFew5OdlJh95as3ZoNsfNcZdjIzGOhwc"
